*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    position: relative;
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
}
#main img{
    height: 100%;
    width: 100%;
    object-fit: fill;
    backdrop-filter: 15px;
}

#header{
    background: #f5f2f2;
    height: 5%;
    width: 50.5%;
    color: rgb(6, 6, 6);
    display: flex;
    align-items: center;
    padding-left: 15px;
    
}

#box{
    height: 500px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    background: rgba(0, 0, 0, 0.75);  
}

#box img{
     height: 100%;
    width: 100%;
    object-fit: cover;
    backdrop-filter: blur(50px);         
    border: 1px solid white; 
    border-radius: 12px;
}

#content{
    position: absolute;
    top: 80px;      
    left: 50%;
    transform: translateX(-50%);
    color: white;
    width: 80%;
}

#content u{
    margin-left: 33%;
    border: solid;
    background-color: rgb(93, 98, 103);
    border-radius: 20%;
    
}
#content h2{
    margin-left: 7%;
    margin-top: 45px;
    font-weight: bold;
}

#content p {
    height: 10px;
    width: 50px;
    margin-top: 10px;
    margin-left: 13% ;
    font-size: medium;

}
#content p:hover{
    background-color: rgb(61, 62, 62);
    height: 30px;
    width: 250px;
    padding: 5px;
    border-radius: 3px;
    display: flex;
    align-items: center;
}


#content h5{
    margin-left: 70%;
    margin-top: 30px ;
}
#content h3{
    margin-left: 35%;
    font-size: xx-large;
    margin-top: 40px;
}
#content h3:hover{
   background-color: #5c5b5b;
    color: white;
    width : 100px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    

}